<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0"/>
    <customErrors mode="On"></customErrors>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WCFRestService.WebHttp" maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 transferMode="Streamed"
                 sendTimeout="00:05:00">
          <readerQuotas  maxDepth="2147483647"
                         maxStringContentLength="2147483647"
                         maxArrayLength="2147483647"
                         maxBytesPerRead="2147483647"
                         maxNameTableCharCount="2147483647"/>
          <security mode="None" >
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment  aspNetCompatibilityEnabled="true"
                                multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="~/IBUserRequestService.svc" service="IcebreakServices.IBUserRequestService" />
      </serviceActivations>
      <baseAddressPrefixFilters>
        <add prefix="http://icebreak.azurewebsites.net/IBUserRequestService.svc" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <services>
      <service behaviorConfiguration="IBServiceBehaviour" name="IcebreakServices.IBUserRequestService">
        <endpoint address="" 
                  behaviorConfiguration="IBWebEndpointBehaviour" 
                  bindingNamespace="http://icebreak.azurewebsites.net"
                  bindingConfiguration="WCFRestService.WebHttp" 
                  binding="webHttpBinding"
                  contract="IcebreakServices.IIBUserRequestService" />
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="IBWebEndpointBehaviour">
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="IcebreakServices.BaseServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="IBServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="http" />
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
