body {
    background-color: #46bdf0;
}

.img-circleshaddow {
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.img-circle {
    margin-top: 2%;
    margin-left: 10%;
    position: relative;
    background-size: cover;
    width: 40%;
    height: 60%;
    border-radius: 200px;   
   
}

#con {
    width: 40%;
    height: auto;
    background-size: cover;
    position: absolute;
    top: 50px;
    margin-bottom: 20%;
    margin-left: 40%;
    box-shadow: #313131 0px 0px 8px 8px;
    -webkit-box-shadow: #313131 0px 0px 8px 8px;
    -moz-box-shadow: #313131 0px 0px 8px 8px;
    padding-bottom: 50px;
}

    #con #inputs {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

#inputs input[type=text], input[type=date], select, input[type=password] {
    margin-bottom: 30px;
}

#inputs p {
    color: red;
}

