
body, html {
    height: 100%;
}
.navbar {
    margin-bottom: 0;
}
#sidebar{
    z-index:1;
    position:absolute;
    width:0;
    height:100%;
    overflow-y:hidden;
    background:#3ec6f2;
    -webkit-transition:width 0.3s;
    transition: width 0.3s;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
}

#page-content-wrapper
{
    position:absolute;
    width:100%;

}

#wrapper.menuDisplayed #sidebar{
    width:250px;
    -webkit-transition:width 1s;
    transition: width 1s;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
}

.sidebar-nav{
    padding:0;
    list-style:none;
}
.sidebar-nav li{
   text-indent:20px;
   line-height:40px;
}
 .sidebar-nav li a{
  display:block;
  text-decoration:none;
  color:#ffffff;
}
  .sidebar-nav li a:hover{
 background:#079ff7;
}

  .img-circle {
  
    margin-left:12%;
    position: absolute;
    background-size: auto;
    width: 350px;
    height:350px;
    border-radius: 200px;   
   
}